<%= simple_form_for @listing do |f| %>
  <h5><%= f.input :title, label: "Listing:" %></h5>
  <button type="button" class="btn btn-danger btn-sm" style="margin-top: 2rem"><%= f.button :submit, style: "color: white" %></button>
<% end %>
