
<div class="jumbotron">
  <h1 class="display-4">Welcome to Rabbu</h1>
  <p class="lead">Property Management & Automation Experts</p>
  <hr class="my-4">
  <h5>Let us handle the hard work to maximize your rental income</h5>
  <%= link_to "Let's Get Started", new_user_registration_path, style: "color: white; margin-top: 2rem", class: "btn btn-danger btn-lg" %>
  <%= link_to "Sign-In", new_user_session_path, style: "color: white; margin-top: 2rem", class: "btn btn-danger btn-lg" %>
</div>
